rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Macarons can be read by anyone
    match /macarons/{macaronId} {
      allow read: if true;
      allow write: if request.auth != null; // Only authenticated users can write
    }

    // Reviews can be read by anyone
    match /reviews/{reviewId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.author_uid;
    }

    // Orders can be created by anyone
    match /orders/{orderId} {
      allow create: if true;
      allow read: if true; // Temporary allow read for all to debug
      allow update, delete: if request.auth != null && (request.auth.uid == resource.data.userId || request.auth.token.email == 'lostresmacarons@gmail.com');
    }
  }
}
