
.orders-page {
  padding: 2rem;
  background-color: #f8f5f2;
}

.orders-page h1,
.orders-page p {
  color: #333;
}

.orders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.search-bar {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-actions {
  display: flex;
  gap: 1rem;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.orders-table th,
.orders-table td {
  padding: 1rem;
  text-align: left;
}

.orders-table thead {
  background-color: #f2f2f2;
}

.order-status {
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

.order-status.new {
  background-color: #ffc107;
}

.order-status.confirmed {
  background-color: #007bff;
}

.order-status.depositpaid {
  background-color: #fd7e14;
}

.order-status.delivered {
  background-color: #28a745;
}

.order-status.cancelled {
  background-color: #dc3545;
}

.order-status.pending {
  background-color: #6f42c1;
}

.order-status.processed {
  background-color: #20c997;
}


.view-more-button {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more-button:hover {
  background-color: #357ABD;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .orders-page {
    padding: 1rem;
  }

  .orders-header {
    margin-bottom: 1rem;
  }

  .header-actions {
    width: 100%;
  }

  .search-bar {
    flex-grow: 1;
  }

  .orders-table thead {
    display: none;
  }

  .orders-table tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
  }

  .orders-table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
  }

  .orders-table td:last-child {
    border-bottom: none;
  }

  .orders-table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
    margin-right: 1rem;
  }
}
