
.macarons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.macaron-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.macaron-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.macaron-card-image {
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Prevent image distortion */
  border-radius: 10px;
  margin-bottom: 1rem;
}

.macaron-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.macaron-card-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.macaron-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.75rem;
  color: #fcc419;
}

.review-count {
  font-size: 0.9rem;
  color: #757575;
  margin-left: 0.5rem;
}

.macaron-card-price,
.macaron-card-minimum {
  margin: 0.25rem 0;
  color: #555;
}

.macaron-card-actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.macaron-card-select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.macaron-card-button {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.macaron-card-button:hover {
  background-color: #357ABD;
}

.view-reviews-button {
  display: inline-block;
  background-color: transparent;
  color: #4A90E2;
  border: 1px solid #4A90E2;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 0.75rem;
  text-decoration: none;
  font-weight: bold;
}

.view-reviews-button:hover {
  background-color: #4A90E2;
  color: white;
}

@media (max-width: 768px) {
  .macarons-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .macaron-card {
    padding: 1rem;
  }

  .macaron-card-name {
    font-size: 1.1rem;
  }

  .macaron-card-price {
    font-size: 0.9rem;
  }

  .macaron-card-button {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .macarons-container {
    grid-template-columns: 1fr;
  }
}
