
.product-modal-image-container {
  width: 100%;
  height: 250px; 
  overflow: hidden;
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-modal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
